<!-- Validation failure messages -->
<% if @friend.errors.any? %>
  <% @friend.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit friend #<%= @friend.id %>
</h1>

<hr>

<!-- Form friend start -->
<form action="/update_friend/<%= @friend.id %>" method="post">
<!-- Form friend end -->

  <!-- Label and input for follower_id start -->
  <div class="form-group">
    <label for="follower_id">
      Follower
    </label>

    <!-- Input for follower_id start -->
    <%= select_tag(:follower_id, options_from_collection_for_select(User.all, :id, :email, @friend.follower_id), :class => "form-control") %>
    <!-- Input for follower_id end -->
  </div>
  <!-- Label and input for follower_id end -->

  <!-- Label and input for leader_id start -->
  <div class="form-group">
    <label for="leader_id">
      Leader
    </label>

    <!-- Input for leader_id start -->
    <input type="text" id="leader_id" name="leader_id" class="form-control" value="<%= @friend.leader_id %>">
    <!-- Input for leader_id end -->
  </div>
  <!-- Label and input for leader_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update friend
  </button>
</form>

<hr>

<a href="/friends">
  Go back
</a>
